@model MonitoramentoSensores.Models.Equipamento.EquipamentoModel

<main>
    <div id="alert-helper" class="pull-right" style="z-index: 999999999;"></div>
    <div class="row espacamento-superior">
        <div class="col-md-4">
            @Html.Partial("../Informacoes/_InformacoesPartial", new MonitoramentoSensores.Models.InformacoesModel {
           NomePlanta = Model.Area.Planta.Nome,
           NomeArea = Model.Area.Nome,
           NomeEquipamento = Model.Nome
            })
        </div>
        <div class="col-md-8">
            <div class="box">
                <div class="box-header">
                    <div class="box-titulo">
                        Lista de Sensores
                    </div>
                    <div class="float-right">
                        @if (Session["NomeUsuario"]?.ToString() == "administrador")
                        {
                        <a class="btn btn-blue js-modal-cadastrar-sensor">Cadastrar</a>
                        }
                    </div>
                    <input type="hidden" id="codigoEquipamento" value="@Model.Codigo" />
                </div>
                <div class="box-body">
                    <div id="lista-sensor-partial">
                        @Html.Partial("_ListaSensorPartial", Model.PaginacaoSensor)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-black btn-voltar" href="/Equipamento/Index?codigoArea=@Model.CodigoArea">Voltar</a>
        </div>
    </div>

    @Html.Partial("_ModalCadastrarEditarSensorPartial", new MonitoramentoSensores.Models.Sensor.SensorModel())
</main>

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Sensor/sensor.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Sensor/sensor.js"></script>
}


