@model MonitoramentoSensores.Models.Planta.PlantaModel

<main>
    <div id="alert-helper" class="pull-right" style="z-index: 999999999;"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-titulo">
                        <div class="titulo-planta">
                            <span>Planta:</span><b class="titulo-planta-nome"> @Model.Nome</b>
                        </div>
                        <div class="titulo-lista">
                            Lista de Áreas
                        </div>
                    </div>
                    <div class="float-right">
                        <a class="btn btn-blue js-modal-cadastrar-area">Cadastrar</a>
                    </div>
                    <input type="hidden" id="codigoPlanta" value="@Model.Codigo" />
                </div>
                <div class="box-body">
                    <div id="lista-area-partial">
                        @Html.Partial("_ListaAreaPartial", Model.ListaArea)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-black btn-voltar" href="/Planta/Index">Voltar</a>
        </div>
    </div>

    @Html.Partial("_ModalCadastrarEditarAreaPartial", new MonitoramentoSensores.Models.Area.AreaModel())

</main>

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Area/area.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Padrao/modalpadrao.js"></script>
    <script src="~/Scripts/Padrao/scripts.js"></script>
    <script src="~/Scripts/Area/area.js"></script>
}

