.area-content {
    border: 1px solid #0066b4;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px auto;
    height: 160px;
    /*overflow: auto;*/
}

.area-header {
    position:relative;
}

.area-body {
    margin-top: 10px;
    display: block;
    justify-content: space-between;
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.equipamento-content {
    width: 100%;
    height: 40px;
    display: block;
    justify-content: center;
    align-items: center;
}

.equipamento-status {
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: limegreen;
    border: 1px solid #000;
    border-radius: 50%;
}

    .equipamento-status:hover {
        cursor: pointer;
    }

.equipamento-detalhes {
    display: none;
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 5px;
    justify-content: center;
}

/*.equipamento-content:hover .equipamento-detalhes {
        display: block;
    }*/

.sensor {
    display: flex;
    justify-content: center;
}

.box-titulo {
    display: flex;
    justify-content: space-between;
}

/* SCROLLBAR */
.scrollbar {
    background-color: #F5F5F5;
    /*float: left;*/
    /*height: 300px;*/
    /*margin-bottom: 25px;*/
    margin-left: 22px;
    /*margin-top: 40px;*/
    /*width: 65px;*/
    overflow-y: auto;
}

.force-overflow {
    /*min-height: 450px;*/
}

#style-1::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius:5px;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius:5px;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius:5px;
}
/* SCROLLBAR */

/*MODAL EQUIPAMENTO DETALHES*/

.status {
    width: 30px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 50%;
    display: block;
}

    .status.status-estavel {
        background-color: limegreen;
    }

    .status.status-incomum {
        background-color: yellow;
    }

    .status.status-critico {
        background-color: red;
    }
