.espacamento-lateral {
    margin: auto 10px;
}

.area-aba {
    font: normal 14px 'Hepta Slab';
    text-transform: uppercase;
    margin: 10px auto 0 auto;
    background-color: #0066b4;
    color: #fff;
    font-weight: lighter;
    padding: 3px 7px;
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    position: relative;
    border-bottom: 5px solid #0066b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.area-aba-titulo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.icone-branco {
    color: #fff !important;
    font-weight: 600;
}

.icones {
    display: flex;
    min-width: 35px;
    justify-content: space-between;
    align-items: center;
}

.area-content {
    position: relative;
    top: -5px;
    border: 1px solid #0066b4;
    border-radius: 5px;
    padding: 5px 10px;
    height: 115px;
}

.area-header {
    position: relative;
}

.area-body {
    margin-top: 10px;
    display: block;
    justify-content: space-between;
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.equipamento-content {
    width: 100%;
    height: 30px;
    display: block;
    justify-content: center;
    align-items: center;
}

.equipamento-status {
    width: 20px;
    height: 20px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 50%;
}

.equipamento-status-green {
    background-color: #0a0;
}

.equipamento-status-yellow {
    background-color: #e2b100;
}

.equipamento-status-red {
    background-color: #f00;
}


/*.equipamento-status:hover {
        cursor: pointer;
    }*/
.equipamento-detalhes {
    display: none;
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 5px;
    justify-content: center;
}

/*.equipamento-content:hover .equipamento-detalhes {
        display: block;
    }*/

.sensor {
    display: flex;
    justify-content: center;
}

.box-titulo {
    display: flex;
    justify-content: space-between;
}

/* SCROLLBAR */
.scrollbar {
    background-color: #F5F5F5;
    overflow-y: auto;
}

#style-1::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}
/* SCROLLBAR */

/*MODAL EQUIPAMENTO DETALHES*/

.status {
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 50%;
    display: block;
}

    .status.status-estavel {
        background-color: #0a0;
    }

    .status.status-incomum {
        background-color: #e2b100;
    }

    .status.status-critico {
        background-color: #f00;
    }


.dropdown {
    display: flex;
    justify-content: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    top: 30px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.2), 0px -5px 16px 5px rgba(0,0,0,0.2);
    z-index: 1;
}

.opcoes-area:after {
    content: '';
    position: absolute;
    top: -20px;
    left: 50px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #f1f1f1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 0px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd
    }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
