@using MonitoramentoSensores.MOD

@model MonitoramentoSensores.Models.Equipamento.EquipamentoModel

<div id="modal-equipamento-detalhes" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 id="titulo-modal" class="box-titulo">@Model.Nome</h4>
                <button type="button" class="close float-right" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="codigo-equipamento" value="@Model.Codigo" />

                @for (int indiceItemSensor = 0; indiceItemSensor < Model.ListaSensor.Count; indiceItemSensor++)
                {
                    var sensor = Model.ListaSensor[indiceItemSensor];

                    <div class="row">
                        <div class="col-md-12">
                            @switch (sensor.Status)
                            {
                                case Status.Estavel:
                                <span class="status status-estavel"></span>
                                break;

                                case Status.Incomum:
                                <span class="status status-incomum"></span>
                                break;

                                case Status.Critico:
                                <span class="status status-critico"></span>
                                break;
                            }
                            @sensor.Nome
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-1">


                    </div>
                </div>

                @*
                    <div class="row">
                            <div class="col-md-12">
                            <div id="lista-detalhes-sensor-partial">
                                @Html.Partial("_ListaDetalhesSensorPartial", new List<MonitoramentoSensores.Models.Sensor.SensorModel())
                            </div>
                        </div>
                    </div>
                *@
            </div>
            @*<div class="modal-footer">
                    <a id="btn-acao-modal" class="btn btn-blue">Salvar</a>
                </div>*@
        </div>

    </div>
</div>

