@using MonitoramentoSensores.MOD

@model MonitoramentoSensores.Models.Equipamento.EquipamentoModel

<div id="modal-equipamento-detalhes" class="meu-modal-container" role="dialog">
    <div class="meu-modal">

        <div class="modal-content">
            <div class="modal-header">
                <h4 id="titulo-modal" class="box-titulo">@Model.Nome</h4>
                <button type="button" class="close float-right" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="codigo-equipamento" value="@Model.Codigo" />
                @if (Model.ListaSensor.Any())
                {

                    <div class="row">
                        @for (int indiceItemSensor = 0; indiceItemSensor < Model.ListaSensor.Count; indiceItemSensor++)
                        {
                            var sensor = Model.ListaSensor[indiceItemSensor];

                            <div class="col-md-2">
                                @switch (sensor.Status)
                                {
                                    case Status.Estavel:
                                    <span class="status status-estavel"></span>
                                    break;

                                    case Status.Incomum:
                                    <span class="status status-incomum"></span>
                                    break;

                                    case Status.Critico:
                                    <span class="status status-critico"></span>
                                    break;
                                }
                                <span id="sensor-codigo-@sensor.Codigo" class="sensor-nome">
                                    @sensor.Nome
                                </span>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="nenhum-registro">
                        <i class="fa fa-times"></i>
                        Nenhum sensor encontrado
                    </div>
                }
            </div>
        </div>

    </div>
</div>

