@model MonitoramentoSensores.Models.Planta.PlantaModel

<main>
    <div id="alert-helper" class="pull-right" style="z-index: 999999999;"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div id="lista-area-paginada-partial">
                    @Html.Partial("_ListaAreaPaginadaPartial", Model)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-black btn-voltar" href="/Planta/Index">Voltar</a>
        </div>
    </div>
    <div id="modal-equipamento-detalhes-partial">
        @Html.Partial("_ModalEquipamentoDetalhesPartial", new MonitoramentoSensores.Models.Equipamento.EquipamentoModel
    {
        ListaSensor = new List<MonitoramentoSensores.Models.Sensor.SensorModel>()
    })
    </div>

</main>

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Visualizacao/visualizacao.css" rel="stylesheet" />
    <link href="~/Content/Paginacao/paginacao.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Padrao/modalpadrao.js"></script>
    <script src="~/Scripts/Padrao/scripts.js"></script>
    <script src="~/Scripts/Visualizacao/visualizacao.js"></script>
}