.paginacao {
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 160px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagina-anterior, .pagina-posterior {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

    .pagina-anterior:before, .pagina-posterior:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px solid #0066b4;
        border-right: 2px solid #0066b4;
    }

    .pagina-anterior:before {
        transform: rotate(-135deg);
        left: 0;
    }

    .pagina-posterior:before {
        transform: rotate(45deg);
        right: 0;
    }

    .pagina-anterior.disabled, .pagina-posterior.disabled {
        cursor: default;
    }

    .pagina-anterior.disabled:before, .pagina-posterior.disabled:before {
        border-top: 2px solid #aaa;
        border-right: 2px solid #aaa;
    }

.num-pagina, .qtde-paginas {
    width: 50px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font: normal 14px 'Hepta Slab';
    display:flex;
    align-items:center;
}

.num-pagina {
    border-right: 1px solid rgba(0, 102, 180, 1);
}

/*.paginacao {
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagina, .pagina-reticencias {
    width: 30px;
    height: 30px;
    background-color: #0066b4;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 5px;
}

.pagina-reticencias {
    background-color: transparent;
    cursor: default;
}

    .pagina-reticencias .numero {
        color: #0066b4;
        font-size: 18px;
    }

.pagina.is-active {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: -10px;
}

.pagina .numero {
    color: #fff;
    font-size: 14px;
}

.pagina.is-active .numero {
    font-size: 20px;
}

.pagina-anterior, .pagina-posterior {
    display: flex;
    justify-content: center;
}

    .pagina-anterior:after, .pagina-posterior:after {
        content: '';
        width: 10px;
        height: 10px;
        position: relative;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    .pagina-anterior:after {
        right: calc(50% - 17px);
        transform: rotate(-135deg);
    }

    .pagina-posterior:after {
        left: calc(50% - 17px);
        transform: rotate(45deg);
    }
    */
