body {
    margin: 0; /* Tira a margem externa */
    background-color: #46606C;
}

.loader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 12000;
}

    .loader-container.mostrar {
        display: flex;
        animation: fade-in .5s;
    }

.loader {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.obj {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0066b4;
    margin: auto 2px;
    transform: translate3d(0, 10px, 0);
    animation: pulsar 1.5s ease-in-out infinite normal;
}

    .obj:nth-child(2) {
        animation-delay: 0.1s;
    }

    .obj:nth-child(3) {
        animation-delay: 0.2s;
    }

    .obj:nth-child(4) {
        animation-delay: 0.3s;
    }

    .obj:nth-child(5) {
        animation-delay: 0.4s;
    }

@keyframes pulsar {
    0% {
        transform: translate3d(0, 10px, 0);
    }

    10% {
        transform: translate3d(0, 10px, 0);
    }

    50% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 10px, 0);
    }

    100% {
        transform: translate3d(0, 10px, 0);
    }
}

.espacamento-superior {
    margin-top: 70px;
}

.meu-modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
}

    .meu-modal-container.mostrar {
        display: block;
    }

.meu-modal {
    width: 600px;
    margin: 20px auto !important;
}

.mostrar .meu-modal {
    animation: fade-in-and-slide-down .3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in-and-slide-down {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
}

.modal-dialog {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%,-60%) !important;
}

.header {
    border-bottom: solid #46606C 5px;
    background-image: linear-gradient(to right, #5bc3ed, #0066b4);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 5px 10px;
    background-position: center;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    position: fixed;
    z-index: 8000;
}

    .header .header-logo {
        display: grid;
        align-items: center;
    }

.header-logo .logo {
    height: 30px;
    width: auto;
    margin: auto;
    display: block;
}

.header-logo .nome-sistema {
    font-size: 10px;
    font-family: Bahnschrift, 'Courier New', Courier, monospace;
    color: #46606C;
    margin: 0;
}

.btn-dropdown {
    color: #fff;
    padding: 10px;
    padding-right: 25px;
    font: normal 12px 'Hepta Slab';
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
}

.login-dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid #fff;
    align-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
            text-decoration-color: #fff;
        }


.login-dropdown:hover .dropdown-content {
    display: block;
}

.login-dropdown:after {
    content: '';
    width: 8px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    display: block;
    right: 8px;
    top: 12px;
}

.footer {
    border-top: solid #46606C 5px;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #5bc3ed, #0066b4);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px 10px 0px 0px;
    display: grid;
    align-items: center;
}

.footer-info, .footer-copyright {
    font-family: Bahnschrift, 'Courier New', Courier, monospace;
    color: rgb(46, 59, 65);
    text-align: right;
    margin: 0;
}

.footer-info {
    font-size: 16px;
    font-weight: bold;
}

.footer-copyright {
    font-size: 12px;
    font-weight: normal;
}

