@model MonitoramentoSensores.Models.Area.AreaModel

<main>
    <div id="alert-helper" class="pull-right" style="z-index: 999999999;"></div>
    <div class="row espacamento-superior">
        <div class="col-md-4">
            @Html.Partial("../Informacoes/_InformacoesPartial", new MonitoramentoSensores.Models.InformacoesModel {
           NomePlanta = Model.Planta.Nome,
           NomeArea = Model.Nome
            })
        </div>
        <div class="col-md-8">
            <div class="box">
                <div class="box-header">
                    <div class="box-titulo">
                            Lista de Equipamentos
                    </div>
                    <div class="float-right">
                        @if (Session["NomeUsuario"]?.ToString() == "administrador")
                        {
                        <a class="btn btn-blue js-modal-cadastrar-equipamento">Cadastrar</a>
                        }
                    </div>
                    <input type="hidden" id="codigoArea" value="@Model.Codigo" />
                </div>
                <div class="box-body">
                    <div id="lista-equipamento-partial">
                        @Html.Partial("_ListaEquipamentoPartial", Model.PaginacaoEquipamento)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-black btn-voltar" href="/Visualizacao/Index?codigoPlanta=@Model.CodigoPlanta">Voltar</a>
        </div>
    </div>

    @Html.Partial("_ModalCadastrarEditarEquipamentoPartial", new MonitoramentoSensores.Models.Equipamento.EquipamentoModel())
</main>

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Equipamento/equipamento.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Equipamento/equipamento.js"></script>
}

