
.background {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-image: url(~/Imagens/backgroundLogin.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
}

.login-background {
    width: 340px;
    background-color: rgba(255, 255, 255, .64);
    margin:  30px auto;
    padding: 40px 40px;
    border-radius: 5%;
    box-shadow: rgba(192,192,192,0.4) -2px -2px inset;
}

.login-titulo {
    font-family: Bahnschrift, 'Courier New', Courier, monospace;
    color: rgb(46, 59, 65);
    text-align: center;
}

.login-input {
    display: block;
    margin: 10px auto;
    padding:10px;
    border-radius: 5px;
    height: 35px;
    width: 205px;
    font-size: 15px;
    font-family: Bahnschrift, 'Courier New', Courier, monospace;
    background-color: white;
}

.btn-enter {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    background-color: #0066b4;
    border-radius: 12px;
    border: 1px solid grey;
    font-weight: bold;
    font-size: 16px;
    font-family: Bahnschrift, 'Courier New', Courier, monospace;
}

.login-forgot-password {
    font-size: 10px;
    color: #46606C;
    font-family: Bahnschrift, 'Courier New', Courier, monospace;
    text-align: center;
}
